<div class="clocks">
  <div class="clock-dial" #clockDial>
    <div class="clock-dial__markers" *ngFor="let marker of markers"
      [ngStyle]="{'transform': 'translate('+marker.posX+'px, '+marker.posY+'px) rotateZ('+marker.rotate+'deg)'}">
    </div>
    <div class="clock-dial__center"></div>
    <div class="clock-dial__lg-hand"></div>
    <div class="clock-dial__sm-hand"></div>
  </div>

  <div class="clock-digital">
    <form [formGroup]="timeForm">
      <div class="clock-digital__display">
        <input class="clock-digital__input clock-digital__input--hours" type="tel" formControlName="hourControl">
      </div>
      <div class="clock-digital__separator">
        <div class="clock-digital__dot"></div>
        <div class="clock-digital__dot"></div>
      </div>
      <div class="clock-digital__display">
        <input class="clock-digital__input clock-digital__input--minutes" type="tel" formControlName="minuteControl">
      </div>
    </form>
  </div>
</div>