<div class="clocks">
  <div class="clock-dial" #clockDial>
    <div class="clock-dial__markers" *ngFor="let marker of markers"
      [ngStyle]="{'transform': 'translate('+marker.posX+'px, '+marker.posY+'px) rotateZ('+marker.rotate+'deg)'}">
    </div>
    <div class="clock-dial__center"></div>
    <div class="clock-dial__lg-hand" #lgHand></div>
    <div class="clock-dial__sm-hand" #smHand></div>
  </div>

  <div class="clock-digital">
    <div class="clock-digital__display">
      <input class="clock-digital__input clock-digital__input--hours" type="text" (input)="onInputChange($event, 'hour')"
        [value]="hour" [readonly]="noEditMode" [ngClass]="{'readonly-input': noEditMode}">
    </div>
    <div class="clock-digital__separator">
      <div class="clock-digital__dot"></div>
      <div class="clock-digital__dot"></div>
    </div>
    <div class="clock-digital__display">
      <input class="clock-digital__input clock-digital__input--minutes" type="text"
        (input)="onInputChange($event, 'minute')" [value]="minute" [readonly]="noEditMode" [ngClass]="{'readonly-input': noEditMode}">
    </div>
  </div>
</div>