.clocks {
  position: absolute;
  right: 0;
}

.clock-dial {
  @include center-items;
  height: $clock-dial-size;
  width: $clock-dial-size;
  border: $clock-dial-frame solid $clock-dial-main-color;
  border-radius: calc((#{$clock-dial-size} + 2*#{$clock-dial-frame})/2);
  position: relative;

  &__markers {
    height: $clock-dial-size/15;
    width: $clock-dial-frame/4;
    background-color: $clock-dial-main-color;
    position: absolute;
    top: 0;
    transform-origin: top;
  }

  &__center {
    height: $clock-dial-frame;
    width: $clock-dial-frame;
    background-color: $clock-dial-main-color;
    border-radius: $clock-dial-frame/2;
    position: absolute;
  }

  &__lg-hand {
    width: $clock-dial-frame/2;
    height: calc(#{$clock-dial-size}/2 - #{$clock-dial-lg-hang-offset});
    background-color: $clock-dial-main-color;
    position: absolute;
    top: $clock-dial-lg-hang-offset;
    transform-origin: bottom;
  }

  &__sm-hand {
    width: $clock-dial-frame/1.5;
    height: calc(#{$clock-dial-size}/2 - #{$clock-dial-sm-hang-offset});
    background-color: $clock-dial-main-color;
    position: absolute;
    top: $clock-dial-sm-hang-offset;
    transform-origin: bottom;
  }

  &__btn{
    position: absolute;
    width: $clock-dial-size*0.15;
    height: $clock-dial-size*0.3;
    left: calc(-#{$clock-dial-frame} - #{$clock-dial-size}*0.15);
    min-width: 0;
    cursor: pointer;
    padding: 0;
    border: none;
    border-radius: $clock-dial-size/40 0 0 $clock-dial-size/40;
    background-color: $clock-dial-main-color;

    &:focus{
      outline: none;
    }

    &:active,
    &:hover{
      background-color: #0000006e;
    }

  }

}

.clock-digital {
  @include center-items;
  @include hide-input-arrows;
  width: $clock-digital-size;
  height: $clock-digital-size/3;
  border: $clock-digital-frame solid $clock-digital-main-color;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &__display {
    @include center-items;
    width: 45%;
    height: 100%;
  }

  &__input{
    width: 82.5%;
    height: 80%;
    border: 1px solid gray;
    font-size: 16vh;
    text-align: center;
    color: #c4000050;

    &::placeholder{
      color: $clock-digital-main-color;
    }

    &.readonly-input{
      outline: none;
      cursor: default;
      border: none;
      color: $clock-digital-main-color;
    }
  }

  &__separator{
    @include center-items;
    width: 5%;
    flex-direction: column;
  }

  &__dot{
    height: $clock-digital-size/20;
    width: $clock-digital-size/20;
    border-radius: $clock-digital-size/40;
    background-color: $clock-digital-main-color;
    margin-top: $clock-digital-size/30;
    margin-bottom: $clock-digital-size/30;
  }

  form{
    display: flex;
    flex-flow: row wrap;
  }

}
