// clock
$clock-dial-size: 20vh;
$clock-dial-frame: $clock-dial-size/20;
$clock-dial-lg-hang-offset: $clock-dial-size*0.1;
$clock-dial-sm-hang-offset: $clock-dial-size*0.2;

$clock-digital-size: $clock-dial-size;
$clock-digital-frame: $clock-dial-frame/2;
// clock // end

// sky
$sun-size: 40px;
// sky // end